* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 2px solid rgba(255, 0, 0, 0.208); */
}

body {
  background-color: rgb(39, 136, 154);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.images img {
  width: 600px;
}

.alphabet-container {
  display: flex;
  flex-direction: column;
}

.alphabet {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(13, 50px);
}

.letter,
.letter-picked {
  width: 40px;
  font-size: 30px;
  background-color: rgb(57, 162, 127);
  margin: 10px;
  cursor: pointer;
}

.letter-picked {
  background-color: rgb(27, 80, 63);
  cursor: default;
}

.letter:hover {
  transform: scale(1.2);
  background-color: rgb(76, 220, 172);
}

.name-div {
  height: 70px;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}

.name-letter,
.name-space,
.name-letter-hidden {
  /* background-color: rgb(159, 137, 104); */
  height: 60px;
  width: 60px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.name-letter-hidden {
  border-bottom: 4px solid orange;
  color: rgba(0, 0, 0, 0.03);
}

#generator {
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-size: larger;
}
