* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 0, 0, 0.208);
}

body {
  background-color: rgb(39, 136, 154);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.images img {
  width: 200px;
}

.alphabet-container {
  display: flex;
  flex-direction: column;
}

.alphabet {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(13, 40px);
}

.letter {
  font-size: 30px;
}
